.dropdown .list {
  position: relative;
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  overflow: auto;
  -webkit-transition: max-height 0.5s ease;
  -moz-transition: max-height 0.5s ease;
  -o-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
}

.dropdown.active .list {
  visibility: visible;
  max-height: 320px;
  height: auto;
  opacity: 1;
  overflow: scroll;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: max-height 0.5s, opacity 2s, visibility 4s ease;
  -moz-transition: max-height 0.5s, opacity 2s, visibility 4s ease;
  -o-transition: max-height 0.5s, opacity 2s, visibility 4s ease;
  transition: max-height 0.5s, opacity 2s, visibility 4s ease;
}
