.option {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  min-height: 32px;
  padding: 4px 12px;
  width: 100%;
  background-color: whitesmoke;
  box-sizing: border-box;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transition: background-color 0.2s ease, color 0.2s ease;
  -moz-transition: background-color 0.2s ease, color 0.2s ease;
  -o-transition: background-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, color 0.2s ease;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropdown .option:hover {
  background-color: #def2f4;
  color: black;
}
