.virtualized-list {
  position: relative;
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  overflow: auto;
  -webkit-transition: max-height 0.5s ease;
  -moz-transition: max-height 0.5s ease;
  -o-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
}

.dropdown.active .virtualized-list {
  display: block;
  visibility: visible;
  max-height: 400px;
  height: auto;
  opacity: 1;
  overflow-y: scroll;
  -webkit-transition: max-height 0.5s, opacity 2s, visibility 4s ease;
  -moz-transition: max-height 0.5s, opacity 2s, visibility 4s ease;
  -o-transition: max-height 0.5s, opacity 2s, visibility 4s ease;
  transition: max-height 0.5s, opacity 2s, visibility 4s ease;
}

.inner-list {
  position: relative;
  width: '100%';
}
