.App {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.title {
  font-size: 24px;
  margin: 24px;
}

.container {
  display: flex;
  flex-direction: row;
}

.dropdown-container {
  margin: 24px;
  width: 300px;
}

.output {
  margin: 24px;
}

.category {
  margin-bottom: 12px;
}
